<div>
    <h2 *ngIf="emptyCard">{{sentenceEmptyCard}}</h2>
    <div *ngIf="!emptyCard">
        <div class="itemDiv-mainPart" *ngFor="let item of items">
            <div class="itemDiv-mainPart-div-img">
                <img class="itemDiv-mainPart-img" src={{item.picture}} alt={{item.name}} />
            </div>
            <div class="itemDiv-mainPart-details">
                <h3 class="specs">
                    {{item.name}}
                </h3>
                <h5 class="specs">
                    {{item.specifications.price}}
                </h5>
                <div class="specs">
                    Storage : {{item.specifications.storage}}
                </div>
                <div class="specs">
                    Color : {{item.specifications.color}}
                </div>
                <div class="specs">
                    Weight : {{item.specifications.weight}}
                </div>
            </div>
            <div class="itemDiv-mainPart-quantity">
                <h4 class="specs">
                    Quantity : {{item.quantity}}
                </h4>
                <button class (click)="removeQuantity(item)">-</button>
                &nbsp; &nbsp; &nbsp;
                <button (click)="addQuantity(item)">+</button>
            </div>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Costs
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="!emptyCard">
                <tr *ngFor="let item of items">
                    <td>
                        {{item.name}}
                    </td>
                    <td class="number">
                        {{item.quantity}} 
                    </td>
                    <td class="number">
                        {{item.totalCosts}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="totalCosts">
                        <p>
                            Total Costs
                        </p>
                    </td>
                    <td></td>
                    <td class="number">
                        {{totalCosts}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>