<div id="mainDiv">

    <h2>
        {{welcomeTitle}}
    </h2>
    <div class="mainDivProduct">
        <div class="itemDiv-mainPart" *ngFor="let product of products">
            <div class="itemDiv-mainPart-div-img">
                <img class="itemDiv-mainPart-img" src={{product.picture}} alt={{product.name}} />
            </div>
            <div class="itemDiv-mainPart-details">
                <h3 class="specs" >
                    {{product.name}}
                </h3>
                <h5 class="specs" >
                    {{product.specifications.price}}
                </h5>
                <div class="specs">
                    Storage : {{product.specifications.storage}}
                </div>
                <div class="specs">
                    Color : {{product.specifications.color}}
                </div>
                <div class="specs">
                    Weight : {{product.specifications.weight}}
                </div>
                <button class="addBtn" (mouseover)="modifyTitleOver(product)" (mouseleave)="modifyTitleOut()" (click)="addToCart(product)">
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</div>